body{
  text-align: center;
  background-image: url("dataDots.jpg");
}

h1{
  font-size: 40px;
  color: white;
  display: flex;
  padding: 20px;
  margin: 20px;
  align-content: center;
  justify-content: center;
  font-family: 'Libre Baskerville', serif;
}

#stockForm{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin: 20px;
}

#buyStockDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buySellForm{
  display: flex;
  justify-content: flex-end;
  color: white;
}

#stockInput{
  width: 250px;
  height: 35px;
  font-size: 25px;

}

a{
  font-style: italic;
  color: white;
  text-decoration: none;
}

#lookup{
  left: 45px;
  position: absolute;
}

#tradeSelect{
  position: absolute;
  width: 300px;
  right: 10px;
  top: 75px;
}

#bankForm{
  right: 0;
  top: 5px;
  position: absolute;
  margin: 10px;
}

header {
  background-color: rgb(0,0,0 ,.75);
}

#bankDiv{
  margin: 5px;
  width: 100px;
  font-size: 10px;
}

#tradeDiv{
  margin: 5px;
  width: 150px;
  font-size: 10px;
}

#tradeBankDiv{
  display: flex;
  align-content: center;
  justify-content: flex-end;
  font-size: 15px; 
}
#total{
  display: flexbox;
  justify-content: flex-start;
  left: 20px;
  position: absolute;
}

p {
  display: flex;
  flex-direction: column;
  background-color: rgb(0,0,0 ,.75);
  color: white;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

button{
  cursor: pointer;
}

footer{
  bottom: 0;
  position: fixed;
  background-color: rgb(0,0,0 ,.75);
  color: white;
}

#buyButton, #sellButton{
  padding: 10px;
  margin: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
  width: 60px;
}

#buyButton{
  background-color: blue;
}

#sellButton{
  background-color: red;
}

.chartImg{
  display: block;
  padding: 0 200px 0 200px;
}

#balance{
  position: absolute;
  left: 5;
}
#myChart{
  background-color: black;
  width: auto;
}
@media (max-width:1100px){
  .chartImg {
    display: block;
    padding: 0 0 0 0;
  }
}
@media (max-width:900px){

  #bankForm{
    top: 50px;
    position: absolute;
  }

  #tradeSelect{
    top: 105px;
    position: absolute;
  }
}

@media (max-width: 600px){
  h1{
    font-size: 20px;
  }
  #buyStockDiv{
    display: flex;
    align-content: center;
    justify-content: center;
  }
}
@media (max-width: 375px){

  h1{
    font-size: 20px;
  }
}
