body{
  text-align: center;
}
h1{
  text-align: center;
  background: yellow;
  padding: 20px;
  margin: 20px;

}
#bankForm{
  justify-content: flex-end;
  background: yellowgreen;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;

}
#stockDiv{
  background: blue;

}
#bankDiv{
  background:green;
  margin: 10px;
  /* display: none;
  position: absolute; */
}


#tradeDiv{
  background:red;
  margin: 10px;
  /* display: none;
  position: absolute; */

}
#tradeBankDiv{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 0;
  font-size: 15px; 
}
#outerTradeBankDiv{
  position: absolute;
  right: 0;
}

p{
  background: pink;
}
button{
  cursor: pointer;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;



}
#buyButton, #sellButton{
  padding: 10px;
  margin: 10px;
}

.chartImg{
  display: flex;
  flex-direction: column;
}

.buySellForm{
  display: inline-flex;
  padding: 5px;

}